# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Code Composer Studio
# http://processors.wiki.ti.com/index.php/Source_control_with_CCS
Debug
.xdchelp
.config
.launches
*.metadata/
.jxbrowser-data
RemoteSystemsTempFiles

# ignore project settings too
*.settings
*.ccsproject
*.cssproject
*.cproject
*.project

# Don't push misc class documents
misc/

# ignore homework
HW*/

# No prelabs
*Prelab*

# VSCode
.vscode

# Ignore copyrighted parts of this class
Lab6/Task1
